<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21223484569-1hdiii05stdktfr03n8b6ghchjli8em7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21223484569-1hdiii05stdktfr03n8b6ghchjli8em7</string>
	<key>API_KEY</key>
	<string>AIzaSyAwkBiP1EpZja12j-8kjBX2qS7sNglZ-rw</string>
	<key>GCM_SENDER_ID</key>
	<string>21223484569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.chowst</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-8f3fe</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-8f3fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21223484569:ios:8062b1800d6c6b67b55c08</string>
</dict>
</plist>